# -------------------------
# Python bytecode
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Environment
# -------------------------
.env             

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------
# OS fajlovi
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Database / cache
# -------------------------
*.sqlite3
*.db
.pytest_cache/    

# -------------------------
# Docker
# -------------------------
# Docker lokalni podaci i volumes
data/             
*.swp
*.tmp

# -------------------------
# Misc / backups
# -------------------------
*.bak
*.old
